<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  
  <connectionStrings>
    <add name="MetinBankDB" 
         connectionString="Server=localhost;Database=MetinBankDB;Uid=root;Pwd=;CharSet=utf8mb4;AllowUserVariables=True;UseAffectedRows=False;" 
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <!-- Uygulama Ayarları -->
    <add key="AppName" value="Metin Bank Şube Uygulaması"/>
    <add key="AppVersion" value="1.0.0"/>
    <add key="CompanyName" value="Metin Bank A.Ş."/>
    
    <!-- Güvenlik Ayarları -->
    <add key="SessionTimeoutMinutes" value="15"/>
    <add key="MaxFailedLoginAttempts" value="3"/>
    <add key="AccountLockDurationMinutes" value="30"/>
    <add key="PasswordExpiryDays" value="90"/>
    
    <!-- İşlem Limitleri -->
    <add key="ParaCekmeGunlukLimit" value="50000"/>
    <add key="ParaYatirmaGunlukLimit" value="500000"/>
    <add key="HavaleGunlukLimit" value="100000"/>
    <add key="EFTIslemUcreti" value="5.00"/>
    
    <!-- Onay Limitleri -->
    <add key="CalisanOnayLimiti" value="5000"/>
    <add key="MudurOnayLimiti" value="10000"/>
    
    <!-- Log Ayarları -->
    <add key="LogRetentionDays" value="365"/>
    <add key="EnableDetailedLogging" value="true"/>
    
    <!-- Kart Ayarları -->
    <add key="KartGunlukHarcamaLimiti" value="5000"/>
    <add key="KartAylikHarcamaLimiti" value="50000"/>
    <add key="KartGunlukCekimLimiti" value="5000"/>
    <add key="KartSureYil" value="5"/>
    
    <!-- Rapor Ayarları -->
    <add key="RaporMaxKayit" value="10000"/>
    <add key="EkstreOlusturmaPdf" value="true"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.33.0" newVersion="8.0.33.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

