<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MetinBankDB" 
         connectionString="Server=localhost;Database=MetinBankDB;Uid=root;Pwd=;CharSet=utf8mb4;AllowUserVariables=True;UseAffectedRows=False;" 
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
